pipeline/first_ingestion.json
{
	"name": "first_ingestion",
	"properties": {
		"activities": [
			{
				"name": "ForEachStart",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Initial Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Initial Metadata').output.childitems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "to_bronze",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.00:45:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/aspindol@emeal.nttdata.com/dungeons_dados/bronze_ingestion",
								"baseParameters": {
									"new_created_file": {
										"value": "@item().name",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_databricks_dungeon",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "Get Initial Metadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:45:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "initial_input",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			}
		],
		"folder": {
			"name": "bronze"
		},
		"annotations": []
	}
}